<div class="container-fluid">
  <div class="row p-5 justify-content-center">
    <div class="col">
      <h1 class="display-6 mb-3">
        Sistem Pendataan Calon Penerima Bantuan Sosial
      </h1>
      <form
        class="input-group mb-5"
        role="search"
        method="post"
        style="width: 500px"
        action="/keluarga/search/home"
      >
        <input
          class="form-control"
          type="search"
          name="query"
          placeholder="Kata kunci"
          aria-label="Search"
          autocomplete="off"
          value="<%= query %>"
        />
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-search"></i> Cari
        </button>
      </form>
      <h5 class="text-primary text-end mb-3">
        Keluarga Terdaftar : <%= count %>
      </h5>
      <table class="table table-striped table-hover text-center">
        <thead>
          <tr class="table-secondary text-primary">
            <th scope="col" width="150">Peringkat</th>
            <th scope="col">Nama Keluarga</th>
            <th scope="col">Desa Asal</th>
            <th scope="col" width="500">Score</th>
          </tr>
        </thead>
        <tbody>
          <% score.forEach((score, index) => { %>
          <tr>
            <th scope="row"><%= score.rank %></th>
            <td><%= score.name %></td>
            <td><%= score.origin %></td>
            <td><%= score.score %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
